body{
	margin: 0;
	background: #E5F7F9;
}
.container-main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#top-header-logo
{
	display: flex;
	justify-content: center;
	align-content: space-around;
	height: 20%;
	background-color: #E5F7F9;
	text-align: center;
	margin-bottom: 2px;
}

#top-header-logo-name{
	object-fit: scale-down;
}
#top-header-logo-img{
	width: 10%;
	height: 10%;
	object-fit: scale-down;
}

.top-header-nav{
	display: flex;
	margin: 0px;
	justify-content: space-evenly;
	list-style-type: none;
	background: #80D7E2;
}

.top-menu-nav-item{
	display: inline;
	padding: 10px;
}
.top-menu-nav-item a{
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
	text-decoration: none;	
	color: black;
}

.top-menu-nav-item:hover{
	text-decoration: none;
	background-color: 	#62a4ab;
}

.section{
	padding-top: 35px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 1%;
	font-family: 'Lato', sans-serif;
}


.section-light{
	background-color: #e9f1f8;
}

.section-dark{
	background-color: #a4bdd0;
}

.section-title{
	margin-top: 0px;
	padding-top: 10px;
	font-family: 'Russo One', sans-serif;
	text-align: center;
	
}

#section-about-image{
	float: right;
	clear: both;
	width: 100px;
	height: auto;
	
	object-fit: scale-down;

}

#photos-list{
	display: flex;
	overflow-x: auto;
	width: 100%;
    white-space: nowrap;
}
.photos-item{
	width: 400px;
	height: 250px;
	margin: 10px;
}
.photos-item:hover{
	width: 440px;
	height: 275px;
}

#playlist{
	text-align: center;
}

.top-header-nav{
position:-webkit-sticky;
position: sticky;
top: 0;
}

#like{
	text-align: center;
}

#like-button{
	margin: 10px;
}

.qna{
	font-family: 'Arimo', sans-serif;
}

#qrcode{
	text-align: center;
}


.qna-table, th, td{
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	direction: rtl;
	border-collapse: collapse;
	border: 1px solid black;
	
}

.qna-table-param{
	width: 15%;
	font-weight: bold;
}

#contact-form-container{
	align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.contact-form-input::-webkit-input-placeholder, #contact-form-message::-webkit-input-placeholder {
  color: #4b6891;
  font-size: 0.875em;
}

.contact-form-input:focus::-webkit-input-placeholder, #contact-form-message:focus::-webkit-input-placeholder {
  color: #728eb6;
}

.contact-form-input::-moz-placeholder, #contact-form-message::-moz-placeholder {
  color: #4b6891;
  font-size: 0.875em;
}

.contact-form-input:focus::-moz-placeholder, #contact-form-message:focus::-moz-placeholder {
  color: #728eb6;
}

.contact-form-input::placeholder, #contact-form-message::placeholder {
  color: #4b6891;
  font-size: 0.875em;
}

.contact-form-input:focus::placeholder, #contact-form-message::focus::placeholder {
  color: #728eb6;
}

.contact-form-input::-ms-placeholder, #contact-form-message::-ms-placeholder {
  color: #4b6891;
  font-size: 0.875em;
}

.contact-form-input:focus::-ms-placeholder, #contact-form-message:focus::-ms-placeholder {
  color: #728eb6;
}

/* on hover placeholder */

.contact-form-input:hover::-webkit-input-placeholder, #contact-form-message:hover::-webkit-input-placeholder {
  color: #31445f;
  font-size: 0.875em;
}

.contact-form-input:hover:focus::-webkit-input-placeholder, #contact-form-message:hover:focus::-webkit-input-placeholder {
  color: #31445f;
}

.contact-form-input:hover::-moz-placeholder, #contact-form-message:hover::-moz-placeholder {
  color: #31445f;
  font-size: 0.875em;
}

.contact-form-input:hover:focus::-moz-placeholder, #contact-form-message:hover:focus::-moz-placeholder {
  color: #31445f;
}

.contact-form-input:hover::placeholder, #contact-form-message:hover::placeholder {
  color: #31445f;
  font-size: 0.875em;
}

.contact-form-input:hover:focus::placeholder, #contact-form-message:hover:focus::placeholder {
  color: #31445f;
}

.contact-form-input:hover::placeholder, #contact-form-message:hover::placeholder {
  color: #31445f;
  font-size: 0.875em;
}

.contact-form-input:hover:focus::-ms-placeholder, #contact-form-message:hover::focus:-ms-placeholder {
  color: #31445f;
}


#contact-form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

.contact-form-input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #31445f;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact-form-input:hover {
  background: #a4b6d0;
  color: #31445f;
}

#contact-form-message {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #31445f;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#contact-form-message:hover {
  background: #a4b6d0;
  color: #31445f;
}

#submit {
  width: 502px;
    
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #31445f;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #31445f;
  border-top: none;
}

#submit:hover {
  color: #31445f;
}